.detailsBox {
    background-color: #191C24;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
}

.pastBooking {
    background-color: lightgray;
    opacity: 1;
}

.timeDetails {
    list-style: none;
    color: #EB1616;
    font-size: 20px;
    padding: 0px;
    margin-bottom: 20px;
}

.commentDetail {
    text-align: left;
}

.commentDetail h5{
    color: gold;
}

.commentDetail ul li {
    list-style: none;
}

.commentText {
    color: gold;
    font-size: large;
}



.createComment {
    margin-top: 1rem;
}

.createComment textarea {
    width: 100%;
    min-height: 100px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.uploadImages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}