.bookingCalendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.timeSlots {
    margin-top: 20px;
}

.timeSlots div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.timeSlots span {
    margin: 5px 0;
}

.timeSlots button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.timeSlots button:hover:not(:disabled) {
    background-color: #0056b3;
}

.timeSlots button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.serviceLabel {
    font-size: large;
    color: #EB1616;
    padding-left: 5px;
}

.serviceSelection div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.serviceSelection input {
    width: 25px;
    height: 25px;
}
